/*     -----     Root set and variables     -----     */

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  font-size: 15px;

  --orange: hsl(31, 77%, 52%);
  --blue: hsl(184, 100%, 22%);
  --green: hsl(179, 100%, 13%);

  --transWhite: hsla(0, 0%, 100%, 0.75);
  --grey: hsl(0, 0%, 95%);
}

/*     -----     Basic reset     -----     */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*     -----     Typography     -----     */

body {
  background-color: hsl(250, 100%, 10%);
  font-size: 1rem;
  font-family: "Lexend Deca", sans-serif;
  color: white;
}

.card > h2 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 2rem;
}

/*     -----     Main      -----     */

#wrapper {
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cardDeck {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

@media only screen and (min-width: 700px) {
  #cardDeck {
    flex-direction: row;
  }
}

#sedans {
  background-color: var(--orange);
}
#suvs {
  background-color: var(--blue);
}
#luxury {
  background-color: var(--green);
}

.card {
  height: 100%;
  padding: 20px;
}

.card > * {
  margin: 20px;
}

.btn {
  background-color: var(--transWhite);
  padding: 10px 30px;
  border: var(--transWhite) solid 1px;
  border-radius: 50px;
  font-family: "Lexend Deca", sans-serif;
  transition: 1000;
}

.btn:hover,
btn:focus {
  background-color: transparent;
  border: var(--transWhite) solid 1px;
  color: white;
}

/*     -----     Attribution from FrontEndMentor     -----     */
.attribution {
  margin: 20px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 60%);
}
